<p>
  <b>Patient:</b>
  <%=h @neonatal.patient %>
</p>

<p>
  <b>User:</b>
  <%=h @neonatal.user %>
</p>

<p>
  <b>Peso:</b>
  <%=h @neonatal.peso %>
</p>

<p>
  <b>Edad gestacional:</b>
  <%=h @neonatal.edad_gestacional %>
</p>

<p>
  <b>Trofismo:</b>
  <%=h @neonatal.trofismo %>
</p>

<p>
  <b>Calificacion apgar:</b>
  <%=h @neonatal.calificacion_apgar %>
</p>

<p>
  <b>Sirveman:</b>
  <%=h @neonatal.sirveman %>
</p>

<p>
  <b>Morbilidad materna:</b>
  <%=h @neonatal.morbilidad_materna %>
</p>

<p>
  <b>Morbilidad neonatal:</b>
  <%=h @neonatal.morbilidad_neonatal %>
</p>

<p>
  <b>Muerte neonatal:</b>
  <%=h @neonatal.muerte_neonatal %>
</p>

<p>
  <b>Tasa mortalidad:</b>
  <%=h @neonatal.tasa_mortalidad %>
</p>

<p>
  <b>Muerte perinatal:</b>
  <%=h @neonatal.muerte_perinatal %>
</p>


<%= link_to 'Edit', edit_neonatal_path(@neonatal) %> |
<%= link_to 'Back', neonatals_path %>