<p>
  <b>Patient:</b>
  <%=h @meeting.patient %>
</p>

<p>
  <b>Dependency:</b>
  <%=h @meeting.dependency %>
</p>

<p>
  <b>User:</b>
  <%=h @meeting.user %>
</p>

<p>
  <b>Date:</b>
  <%=h @meeting.date %>
</p>

<p>
  <b>Hour:</b>
  <%=h @meeting.hour %>
</p>


<%= link_to 'Edit', edit_meeting_path(@meeting) %> |
<%= link_to 'Back', meetings_path %>