<p>
  <b>Nombre madre:</b>
  <%=h @variable_fetal.nombre_madre %>
</p>

<p>
  <b>Nombre nacido:</b>
  <%=h @variable_fetal.nombre_nacido %>
</p>

<p>
  <b>Rciu:</b>
  <%=h @variable_fetal.rciu %>
</p>

<p>
  <b>Muerte fetal:</b>
  <%=h @variable_fetal.muerte_fetal %>
</p>

<p>
  <b>Mortalidad fetal:</b>
  <%=h @variable_fetal.mortalidad_fetal %>
</p>

<p>
  <b>Peso:</b>
  <%=h @variable_fetal.peso %>
</p>

<p>
  <b>Edad gestacional:</b>
  <%=h @variable_fetal.edad_gestacional %>
</p>

<p>
  <b>Trofismo:</b>
  <%=h @variable_fetal.trofismo %>
</p>

<p>
  <b>Calificacion apgar:</b>
  <%=h @variable_fetal.calificacion_apgar %>
</p>

<p>
  <b>Silverman:</b>
  <%=h @variable_fetal.silverman %>
</p>

<p>
  <b>Morbilidad neonatal:</b>
  <%=h @variable_fetal.morbilidad_neonatal %>
</p>

<p>
  <b>Muerte neonatal:</b>
  <%=h @variable_fetal.muerte_neonatal %>
</p>

<p>
  <b>Tasa mortalidad:</b>
  <%=h @variable_fetal.tasa_mortalidad %>
</p>

<p>
  <b>Muerte perinatal:</b>
  <%=h @variable_fetal.muerte_perinatal %>
</p>


<%= link_to 'Edit', edit_variable_fetal_path(@variable_fetal) %> |
<%= link_to 'Back', variable_fetals_path %>