<p>
  <b>No preparada emb:</b>
  <%=h @ries_par.no_preparada_emb %>
</p>

<p>
  <b>No razon:</b>
  <%=h @ries_par.no_razon %>
</p>

<p>
  <b>Considero problema grande:</b>
  <%=h @ries_par.considero_problema_grande %>
</p>

<p>
  <b>Cosas infancia:</b>
  <%=h @ries_par.cosas_infancia %>
</p>

<p>
  <b>No apoyo pareja:</b>
  <%=h @ries_par.no_apoyo_pareja %>
</p>

<p>
  <b>No personas necesito:</b>
  <%=h @ries_par.no_personas_necesito %>
</p>

<p>
  <b>Desconfianza madre:</b>
  <%=h @ries_par.desconfianza_madre %>
</p>


<%= link_to 'Edit', edit_ries_par_path(@ries_par) %> |
<%= link_to 'Back', ries_pars_path %>