<p>
  <b>Date:</b>
  <%=h @psychology.date %>
</p>

<p>
  <b>Pregnant:</b>
  <%=h @psychology.pregnant %>
</p>

<p>
  <b>Weeks of gestation:</b>
  <%=h @psychology.weeks_of_gestation %>
</p>

<p>
  <b>Good health q1:</b>
  <%=h @psychology.good_health_q1 %>
</p>

<p>
  <b>Exhausted q2:</b>
  <%=h @psychology.exhausted_q2 %>
</p>

<p>
  <b>Sick q3:</b>
  <%=h @psychology.sick_q3 %>
</p>

<p>
  <b>Headache q4:</b>
  <%=h @psychology.headache_q4 %>
</p>

<p>
  <b>Chill q5:</b>
  <%=h @psychology.chill_q5 %>
</p>

<p>
  <b>Full of energy q6:</b>
  <%=h @psychology.full_of_energy_q6 %>
</p>

<p>
  <b>Insomnia q7:</b>
  <%=h @psychology.insomnia_q7 %>
</p>

<p>
  <b>Insomnia all night q8:</b>
  <%=h @psychology.insomnia_all_night_q8 %>
</p>

<p>
  <b>Restless nights q9:</b>
  <%=h @psychology.restless_nights_q9 %>
</p>

<p>
  <b>Satisfied to do things q10:</b>
  <%=h @psychology.satisfied_to_do_things_q10 %>
</p>

<p>
  <b>Enjoy daily activities q11:</b>
  <%=h @psychology.enjoy_daily_activities_q11 %>
</p>

<p>
  <b>Bad mood q12:</b>
  <%=h @psychology.bad_mood_q12 %>
</p>

<p>
  <b>Afraid q13:</b>
  <%=h @psychology.afraid_q13 %>
</p>

<p>
  <b>Sad q14:</b>
  <%=h @psychology.sad_q14 %>
</p>

<p>
  <b>Nervous q15:</b>
  <%=h @psychology.nervous_q15 %>
</p>

<p>
  <b>User:</b>
  <%=h @psychology.user_id %>
</p>

<p>
  <b>Dependency:</b>
  <%=h @psychology.dependency_id %>
</p>


<%= link_to 'Edit', edit_psychology_path(@psychology) %> |
<%= link_to 'Back', psychologies_path %>