<h1>Programa de violencia familiar</h1>

<% form_for(@violency) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :Fecha %><br />
    <%= f.datetime_select :fecha %>
  </p>
  <p>
    <%= f.label :edad %><br />
    <%= f.text_field :edad %>
  </p>
  <p>
    <%= f.label :"Cuántos años de estudios?" %><br />
    <%= f.text_field :estudios %>
  </p>
  <p>
    <%= f.label :registro %><br />
    <%= f.text_field :registro %>
  </p>
  <p>
    <%= f.label :"Estado civil" %><br />
    <%= f.text_field :civil %>
  </p>
  <p>
    <%= f.label :"Ocupación" %><br />
    <%= f.text_field :ocupacion %>
  </p>
  <p>
    <%= f.label :"¿Esta embarazada?" %><br />
    <%= f.check_box :esta %>
  </p>
  <p>
    <%= f.label :"¿Deseaba usted este embarazo?" %><br />
    <%= f.check_box :deseaba %>
  </p>
  <p>
    <%= f.label :"¿Planeo usted este embarazo?" %><br />
    <%= f.check_box :planeo %>
  </p>
  <p>
    <%= f.label :"¿Acepto usted este embarazo?" %><br />
    <%= f.check_box :acepto %>
  </p>
  <p>
    <%= f.label :"Numero de hijos vivos" %><br />
    <%= f.text_field :numhijos %>
  </p>
  <p>
    <%= f.label :"¿Su pareja deseaba este embarazo?" %><br />
    <%= f.text_field :pardeseaba %>
  </p>
  <p>
    <%= f.label :"¿Su pareja planeo este emabarazo?" %><br />
    <%= f.text_field :parplaneo %>
  </p>
  <p>
    <%= f.label :"¿Su pareja acepto este embarazo?"%><br />
    <%= f.text_field :paracepto %>
  </p>
  <p>
    <%= f.label :"¿Ha sufrido violencia durante este embarazo de parte de su pareja actual?" %><br />
    <%= f.check_box :actual %>
  </p>
  <p>
    <%= f.label :"¿Ha sufrido violencia antes del embarazo durante los últimos 12 meses? " %><br />
    <%= f.check_box :meses %>
  </p>
  <p>
    <%= f.label :"¿Ha sufrido violencia durante este embarazo de parte del padre de su hijo?" %><br />
    <%= f.check_box :violencia %>
  </p>
  <p>
    <%= f.label :"¿Cuánto tiempo de relacion con la pareja actual?" %><br />
     <%= f.label :"años" %><br />
    <%= f.text_field :relacion_años %>
  </p>
  <p>
    <%= f.label :"Meses" %><br />
    <%= f.text_field :relacion_meses %>
  </p>
  <p>
    <%= f.label :"Semanas" %><br />
    <%= f.text_field :relacion_semanas %>
  </p>
  <p>
    <%= f.label :"Dias" %><br />
    <%= f.text_field :relacion_dias %>
  </p>
  <p>
    <%= f.label :"¿Qué edad tiene su pareja actual?" %><br />
    <%= f.text_field :edadpar %>
  </p>


   <table border="1">
<tr>
<td>
  <p>
    <%= f.label :"1.Que su pareja le avienta algún objeto." %>
   <td> <%= f.check_box :avientaobjeto %>  </td>
  </p>
  </tr>
   <tr>
<td>
  <p>
   <%= f.label :"2.Que le tuerza el brazo." %>
    <%= f.check_box :tuerza %>
  </p>
 </tr>
  <p>
    <%= f.label :"3.Que la amenace con golpearla" %>
    <%= f.check_box :amenace %>
  </p>
  <p>
    <%= f.label :"4.Que se ponga a destruir algunas cosas de usted" %>
    <%= f.check_box :destruir %>
  </p>
  <p>
    <%= f.label :"5.Que use la fuerza fisica para tener relaciones sexuales con usted,en contra de su voluntad." %>
    <%= f.check_box :fuerzafisica %>
  </p>
  <p>
    <%= f.label :"6.Que lo rebaje o menosprecie" %>
    <%= f.check_box :menosprecie %>
  </p>
  <p>
    <%= f.label :"7.Que se ponga celoso." %>
    <%= f.check_box :celoso %>
  </p>
  <p>
    <%= f.label :"8.Que su pareja sospeche de sus amistades"%>
    <%= f.check_box :sospeche %>
  </p>
  <p>
    <%= f.label :"9.Que la insulte" %>
    <%= f.check_box :insulte %>
  </p>
  <p>
    <%= f.label :"10.Que su pareja la empuje a propósito." %>
    <%= f.check_box :proposito %>
  </p>
  <p>
    <%= f.label :"11.Que la agreda con alguna navaja, cuchillo o machete" %>
    <%= f.check_box :machete %>
  </p>
  <p>
    <%= f.label :"12.Que le haga sentir miedo de él"%>
    <%= f.check_box :miedo %>
  </p>
  <p>
    <%= f.label :"13.Que la golpee con un palo o un cinturón o alǵun objeto doméstico." %>
    <%= f.check_box :domestico %>
  </p>
  <p>
    <%= f.label :"14.Que la trate de ahorcar o asfixiar." %>
    <%= f.check_box :asfixiar %>
  </p>
  <p>
    <%= f.label :"15.Que la amenace con irse con otras mujeres si no accede a tener relaciones sexuales con él." %>
    <%= f.check_box :relaciones %>
  </p>
  <p>
    <%= f.label :"16.Que la amenace con matarla a usted o matarse él o matar alos niños"%>
    <%= f.check_box :matarla %>
  </p>
  <p>
    <%= f.label :"17.Que la golpee con la mano o con el puño." %>
    <%= f.check_box :puño %>
  </p>
  <p>
    <%= f.label :"18.Que le exija tener relaciones sexuales aun que usted no esté dispuesta." %>
    <%= f.check_box :dispuesta %>
  </p>
  <p>
    <%= f.label :"19.Que su pareja la patee." %>
    <%= f.check_box :patee %>
  </p>
  <p>
    <%= f.label :"20.Que la amenace con alguna navaja o cuchillo o machete." %>
    <%= f.check_box :cuchillo %>
  </p>
  <p>
    <%= f.label :"21.Que la golpee en el éstomago." %>
    <%= f.check_box :estomago %>
  </p>
  <p>
    <%= f.label :"22.Que la sacuda,zarandee o jalonee." %>
    <%= f.check_box :jalonee %>
  </p>
  <p>
    <%= f.label :"23.Que le dispare con alguna pistola o rifle." %>
    <%= f.check_box :pistola %>
  </p>
  <p>
    <%= f.label :"24.Que le diga cosas como que usted es poco atractiva o fea" %>
    <%= f.check_box :fea %>
  </p>
  <p>
    <%= f.label :"25.Que la ataque con algun otra cosa." %>
    <%= f.check_box :cosa %>
  </p>
  <p>
    <%= f.label :"26.Que se ponga a golpear o patear la pared o algún mueble." %>
    <%= f.check_box :mueble %>
  </p>
  <p>
    <%= f.label :"27.Que la amenace con alguna pistola o rifle." %>
    <%= f.check_box :rifle %>
  </p>
      </tr> </td>
</table>
     
  <p>
    <%= f.label :"28.-¿Cuántas veces sucede el evento de violencia con su pareja?" %><br />
    <%= f.text_field :veces %>
  </p>
  <p>
    <%= f.label :"29.-¿Cuándo su pareja es violenta, usted tambíen lo golpea?" %><br />
    <%= f.check_box :violenta %>
  </p>
  <p>
    <%= f.label :"30.-¿Cuándo su pareja es vilenta,usted también lo insulta?" %><br />
    <%= f.check_box :insulta %>
  </p>
  <p>
    <%= f.label :"31.-¿Cuando su pareja la insulta o golpea usted quisiera responder pero se aguanta?" %><br />
    <%= f.check_box :aguanta %>
  </p>
  <p>
    <%= f.label :"32.-¿Ha tenido otras parejas anteriores con una relación de violencia?" %><br />
    <%= f.check_box :anteriores %>
  </p>
  <p>
    <%= f.label :"Violencia fisica" %><br />
    <%= f.text_field :fisica %>
  </p>
  <p>
    <%= f.label :"violencia emocional" %><br />
    <%= f.text_field :emocional %>
  </p>
  <p>
    <%= f.label :user_id %><br />
    <%= f.text_field :user_id %>
  </p>
  <p>
    <%= f.label :dependency_id %><br />
    <%= f.text_field :dependency_id %>
  </p>
  <p>
    <%= f.label :patient_id %><br />
    <%= f.text_field :patient_id %>
  </p>
  <p>
    <%= f.submit 'Crear' %>
  </p>
<% end %>

<%= link_to 'Regresar', violencies_path %>