<p>
  <b>Fecha:</b>
  <%=h @violency.fecha %>
</p>

<p>
  <b>Edad:</b>
  <%=h @violency.edad %>
</p>

<p>
  <b>Estudios:</b>
  <%=h @violency.estudios %>
</p>

<p>
  <b>Registro:</b>
  <%=h @violency.registro %>
</p>

<p>
  <b>Civil:</b>
  <%=h @violency.civil %>
</p>

<p>
  <b>Ocupacion:</b>
  <%=h @violency.ocupacion %>
</p>

<p>
  <b>Esta:</b>
  <%=h @violency.esta %>
</p>

<p>
  <b>Deseaba:</b>
  <%=h @violency.deseaba %>
</p>

<p>
  <b>Planeo:</b>
  <%=h @violency.planeo %>
</p>

<p>
  <b>Acepto:</b>
  <%=h @violency.acepto %>
</p>

<p>
  <b>Numhijos:</b>
  <%=h @violency.numhijos %>
</p>

<p>
  <b>Pardeseaba:</b>
  <%=h @violency.pardeseaba %>
</p>

<p>
  <b>Parplaneo:</b>
  <%=h @violency.parplaneo %>
</p>

<p>
  <b>Paracepto:</b>
  <%=h @violency.paracepto %>
</p>

<p>
  <b>Actual:</b>
  <%=h @violency.actual %>
</p>

<p>
  <b>Meses:</b>
  <%=h @violency.meses %>
</p>

<p>
  <b>Violencia:</b>
  <%=h @violency.violencia %>
</p>

<p>
  <b>Relacion a単os:</b>
  <%=h @violency.relacion_a単os %>
</p>

<p>
  <b>Relacion meses:</b>
  <%=h @violency.relacion_meses %>
</p>

<p>
  <b>Relacion semanas:</b>
  <%=h @violency.relacion_semanas %>
</p>

<p>
  <b>Relacion dias:</b>
  <%=h @violency.relacion_dias %>
</p>

<p>
  <b>Edadpar:</b>
  <%=h @violency.edadpar %>
</p>

<p>
  <b>Avientaobjeto:</b>
  <%=h @violency.avientaobjeto %>
</p>

<p>
  <b>Tuerza:</b>
  <%=h @violency.tuerza %>
</p>

<p>
  <b>Amenace:</b>
  <%=h @violency.amenace %>
</p>

<p>
  <b>Destruir:</b>
  <%=h @violency.destruir %>
</p>

<p>
  <b>Fuerzafisica:</b>
  <%=h @violency.fuerzafisica %>
</p>

<p>
  <b>Menosprecie:</b>
  <%=h @violency.menosprecie %>
</p>

<p>
  <b>Celoso:</b>
  <%=h @violency.celoso %>
</p>

<p>
  <b>Sospeche:</b>
  <%=h @violency.sospeche %>
</p>

<p>
  <b>Insulte:</b>
  <%=h @violency.insulte %>
</p>

<p>
  <b>Proposito:</b>
  <%=h @violency.proposito %>
</p>

<p>
  <b>Machete:</b>
  <%=h @violency.machete %>
</p>

<p>
  <b>Miedo:</b>
  <%=h @violency.miedo %>
</p>

<p>
  <b>Domestico:</b>
  <%=h @violency.domestico %>
</p>

<p>
  <b>Asfixiar:</b>
  <%=h @violency.asfixiar %>
</p>

<p>
  <b>Relaciones:</b>
  <%=h @violency.relaciones %>
</p>

<p>
  <b>Matarla:</b>
  <%=h @violency.matarla %>
</p>

<p>
  <b>Pu単o:</b>
  <%=h @violency.pu単o %>
</p>

<p>
  <b>Dispuesta:</b>
  <%=h @violency.dispuesta %>
</p>

<p>
  <b>Patee:</b>
  <%=h @violency.patee %>
</p>

<p>
  <b>Cuchillo:</b>
  <%=h @violency.cuchillo %>
</p>

<p>
  <b>Estomago:</b>
  <%=h @violency.estomago %>
</p>

<p>
  <b>Jalonee:</b>
  <%=h @violency.jalonee %>
</p>

<p>
  <b>Pistola:</b>
  <%=h @violency.pistola %>
</p>

<p>
  <b>Fea:</b>
  <%=h @violency.fea %>
</p>

<p>
  <b>Cosa:</b>
  <%=h @violency.cosa %>
</p>

<p>
  <b>Mueble:</b>
  <%=h @violency.mueble %>
</p>

<p>
  <b>Rifle:</b>
  <%=h @violency.rifle %>
</p>

<p>
  <b>Veces:</b>
  <%=h @violency.veces %>
</p>

<p>
  <b>Violenta:</b>
  <%=h @violency.violenta %>
</p>

<p>
  <b>Insulta:</b>
  <%=h @violency.insulta %>
</p>

<p>
  <b>Aguanta:</b>
  <%=h @violency.aguanta %>
</p>

<p>
  <b>Anteriores:</b>
  <%=h @violency.anteriores %>
</p>

<p>
  <b>Fisica:</b>
  <%=h @violency.fisica %>
</p>

<p>
  <b>Emocional:</b>
  <%=h @violency.emocional %>
</p>

<p>
  <b>User:</b>
  <%=h @violency.user_id %>
</p>

<p>
  <b>Dependency:</b>
  <%=h @violency.dependency_id %>
</p>

<p>
  <b>Patient:</b>
  <%=h @violency.patient_id %>
</p>


<%= link_to 'Edit', edit_violency_path(@violency) %> |
<%= link_to 'Back', violencies_path %>