-field_set_tag "Alta de Paciente", :id => "patient_new" do
  -remote_form_for(@patient) do |patient|
    = patient.error_messages
    %p
      = patient.label "Expediente"
    %p
      = patient.text_field :expedient
    %p 
      = patient.label "Curp"
    %p
      = patient.text_field :curp 
    %p
      = patient.label "Nombre"
    %p
      = patient.text_field :firstname
    %p
      = patient.label "Apellido Paterno"
    %p
      = patient.text_field :lastname1
    %p
      = patient.label "Apellido Materno"
    %p
      = patient.text_field :lastname2
    %p
      = patient.label "Fecha de nacimiento"
    %p
      = patient.date_select(:birthday)
    %p 
      = patient.label "Sexo"
    %p
      Hombre #{patient.radio_button(:gender,'true')}
      %br
      Mujer #{patient.radio_button(:gender,'false')}
    
    
   
      = patient.submit 'Guardar'
