#patient_show
  %table{:border => 1}
    %tr
      %th{:colspan => 3, :class => "even"}
        Datos de paciente
    %tr
      %td
        Nombre: 
        %b #{@patient.fullname}
      %td
        Edad: 
        %b #{@patient.age} años
      %td
        Sexo: 
        %b #{@patient.sex}
    %tr
      %td
        Domicilio: 
        %b #{@patient.full_address}
      %td{:colspan=> 2}
        Telefono:  
        %b #{@patient.phone}
    %tr
      %td
        CUIP(Clave Unica Identificadora de Paciente): 
        %b #{@patient.cuip}
      %td
        Correo electrónico:
        %b #{@patient.mail}
#menu_patient
  .button 
    - if @patient.psychologies.size < 1
      = link_to_remote "Cuestionario CGS-15", :url => {:controller => 'psychologies', :action => :new, :id => @patient.id}, :before => "$('.indicator').show()", :complete => "$('.indicator').hide()"
      .status{ :style => 'display:none'}
        = image_tag("checked.png")
    - else
      Cuestionario CGS-15
      .status{ :style => 'display:inline'}
        = image_tag("checked.png")
  .button 
    - if @patient.clinical_histories.size < 1
      = link_to_remote "Historia Clinica Perinatal", :url => {:controller => 'clinical_histories', :action => :new, :id => @patient.id}, :before => "$('.indicator').show()", :complete => "$('.indicator').hide()"
      .status_clinical{ :style => 'display:none'}
        = image_tag("checked.png")
    - else
      Historia Clinica Perinatal
      .status_clinical{ :style => 'display:inline'}
        = image_tag("checked.png")
  .button
    = link_to_remote "Primera Vez y Subsecuentes", :url => {:controller => 'first_times', :action => :new, :id => @patient.id}, :before => "$('.indicator').show()", :complete => "$('.indicator').hide()"
  .button
    = link_to_remote "Programar Cita para Laboratorio", :url => {:controller => 'appoiments', :action => :new, :id => @patient.id}, :before => "$('.indicator').show()", :complete => "$('.indicator').hide()"
  .button
    = link_to_remote "Ficha Socio Económica Inicial", :url => {:controller => 'socioeconomics', :action => :new, :id => @patient.id}, :before => "$('.indicator').show()", :complete => "$('.indicator').hide()"
  .button
    = link_to_remote "Factores de Riesgo Modificables", :url => {:controller => 'risk_factors', :action => :new, :id => @patient.id}, :before => "$('.indicator').show()", :complete => "$('.indicator').hide()"
  .button
    = link_to_remote "Violencia Familiar", :url => {:controller => 'violencies', :action => :new, :id => @patient.id}, :before => "$('.indicator').show()", :complete => "$('.indicator').hide()"
  .button
    - if @patient.ries_pars.size < 1
      = link_to_remote "Cuestionario de Riesgo de Parentaje", :url => {:controller => 'ries_pars', :action => :new, :id => @patient.id}, :before => "$('.indicator').show()", :complete => "$('.indicator').hide()"
      .status{ :style => 'display:none'}
        = image_tag("checked.png")
    - else
      Cuestionario de Riesgo de Parentaje
      .status{ :style => 'display:inline'}
      = image_tag("checked.png")
  .button
    - if @patient.ultra_sounds.size < 1
      = link_to_remote "UltraSonido Primer Trimestre", :url => {:controller => 'ultra_sounds', :action => :new, :id => @patient.id}, :before => "$('.indicator').show()", :complete => "$('.indicator').hide()"
      .status{ :style => 'display:none'}
        = image_tag("checked.png")
    - else
      UltraSonido Primer Trimestre
      .status{ :style => 'display:inline'}
      = image_tag("checked.png")
  .button
    - if @patient.ultra2_sounds.size < 1
      = link_to_remote "UltraSonido Segundo Trimestre", :url => {:controller => 'ultra2_sounds', :action => :new, :id => @patient.id}, :before => "$('.indicator').show()", :complete => "$('.indicator').hide()"
      .status{ :style => 'display:none'}
        = image_tag("checked.png")
    - else
      UltraSonido Segundo Trimestre
      .status{ :style => 'display:inline'}
      = image_tag("checked.png")
  .button
    - if @patient.ultra3_sounds.size < 1
      = link_to_remote "UltraSonido Tercer Trimestre", :url => {:controller => 'ultra3_sounds', :action => :new, :id => @patient.id}, :before => "$('.indicator').show()", :complete => "$('.indicator').hide()"
      .status{ :style => 'display:none'}
        = image_tag("checked.png")
    - else
      UltraSonido Tercer Trimestre
      .status{ :style => 'display:inline'}
      = image_tag("checked.png")       
#create_questionary_dialog{ :stylefood => 'display:none' }
  #create_questionary
