<h1>New patient</h1>

<% form_for(@patient) do |f| %>
  <%= f.error_messages %>
  <p>
  <%= f.text_field :cuip %>
  </p>

  <p>
  <%= f.text_field :firstname %>
  </p>

  <p>
  <%= f.text_field :lastname1 %>
  </p>

  <p>
  <%= f.text_field :lastname2 %>
  </p>

  <p>
  <%= f.text_field :gender %>
  </p>

  <p>
  <%= f.text_field :user_id %>
  </p>

  <p>
  <%= f.text_field :dependency_id %>
  </p>

  <p>
  <%= f.text_field :bornstate_id %>
  </p>

  <p>
  <%= f.date_select :birthday %>
  </p>


  <p>
    <%= f.submit 'Create' %>
  </p>
<% end %>

<%= link_to 'Back', patients_path %>
