- remote_form_for @clinical_history, :url => {:action => :create }, :before => "$('.creating').show();", :complete => "$('.creating').hide();" do |f|
  - if !f.error_messages.empty?
    .validation
      = f.error_messages 
  %p
    = f.label "Familiar responsable:"
    = f.text_field :responsible_family 
    = f.label "Parentesco:"
    = f.text_field :relationship
  %br
    %h1.questionary_title ANTECEDENTES HEREDOFAMILIARES
    %hr
  %br
  .clinical_form
    %table
      %tr.odd
        %th PADECIMIENTO
        %th MADRE
        %th PADRE
        %th HIJOS
        %th HERMANOS
        %th ESPOSO
        %th OTROS
      %tr.even
        %td CARDIOVASCULARES
        %td.numeric 
          = f.check_box :cardiovascular_mother
        %td.numeric
          = f.check_box :cardiovascular_father
        %td.numeric
          = f.check_box :cardiovascular_children
        %td.numeric
          = f.check_box :cardiovascular_brothers 
        %td.numeric
          = f.check_box :cardiovascular_husband 
        %td.numeric
          = f.text_field :cardiovascular_others 
      %tr.odd
        %td DIABETES MELLITUS
        %td.numeric
          = f.check_box :diabetes_mother 
        %td.numeric
          = f.check_box :diabetes_father 
        %td.numeric
          = f.check_box :diabetes_children 
        %td.numeric
          = f.check_box :diabetes_brothers 
        %td.numeric
          = f.check_box :diabetes_husband 
        %td.numeric
          = f.text_field :diabetes_others 
      %tr.even
        %td NEOPLASICOS
        %td.numeric
          = f.check_box :neoplastic_mother
        %td.numeric
          = f.check_box :neoplastic_father
        %td.numeric
          = f.check_box :neoplastic_children 
        %td.numeric
          = f.check_box :neoplastic_brothers 
        %td.numeric
          = f.check_box :neoplastic_husband 
        %td.numeric
          = f.text_field :neoplastic_others 
      %tr.odd
        %td INFECCIOSOS
        %td.numeric
          = f.check_box :infectious_mother 
        %td.numeric
          = f.check_box :infectious_father 
        %td.numeric
          = f.check_box :infectious_children 
        %td.numeric
          = f.check_box :infectious_brothers 
        %td.numeric
          = f.check_box :infectious_husband 
        %td.numeric
          = f.text_field :infectious_others
      %tr.even
        %td TOXICOMANIAS
        %td.numeric
          = f.check_box :toxicomanias_mother
        %td.numeric
          = f.check_box :toxicomanias_father 
        %td.numeric
          = f.check_box :toxicomanias_children 
        %td.numeric
          = f.check_box :toxicomanias_brothers 
        %td.numeric
          = f.check_box :toxicomanias_husband 
        %td.numeric
          = f.text_field :toxicomanias_others 
      %tr.odd
        %td SX DOWN/MALFORMADOS
        %td.numeric
          = f.check_box :malformed_mother
        %td.numeric
          = f.check_box :malformed_father
        %td.numeric
          = f.check_box :malformed_children
        %td.numeric
          = f.check_box :malformed_brothers
        %td.numeric
          = f.check_box :malformed_husband
        %td.numeric  
          = f.text_field :malformed_others 
  %br
    %h1.questionary_title ANTECEDENTES PERSONALES NO PATOLOGICOS
    %hr
  %br
  
  %p
    = f.label "Alimentación: "
    = f.radio_button(:feed,16) + "Suficiente"
    = f.radio_button(:feed,17) + "Pobre"
    = f.radio_button(:feed,18) + "Adecuada"
    = f.radio_button(:feed,19) + "Excesiva"
    = f.radio_button(:feed,20) + "Dieta no habitual"
  %p
    = f.label "Vitaminas: "
    = f.check_box :vitamins  
    = f.label "Hierro: "
    = f.check_box :iron 
    = f.label "Ácido folico: "
    = f.check_box :folic_acid 
    = f.label "Cafeina: "
    = f.check_box :caffeine
    = f.label "Drogas: "
    = f.check_box :drugs 
    = f.label "Medicamentos: "
    = f.check_box :medicaments
    %br
    = f.label "Mecione Cuales: "
    = f.text_field :medicaments_details, :size => 70 
  %p
    = f.label "Alcoholismo: "
    = f.radio_button(:alcoholism,21) + "Si"
    = f.radio_button(:alcoholism,5) + "No"
    = f.radio_button(:alcoholism,22) + "Antes del embarazo"
    = f.radio_button(:alcoholism,23) + "Durante el embarazo"
    = f.radio_button(:alcoholism,24) + "Mucho"
    = f.radio_button(:alcoholism,24) + "Poco"
  %p
    = f.label "Tabaquísmo: "
    = f.radio_button(:smoking,21) + "Si"
    = f.radio_button(:smoking,5) + "No"
    = f.radio_button(:smoking,22) + "Antes del embarazo"
    = f.radio_button(:smoking,23) + "Durante el embarazo"
    = f.radio_button(:smoking,24) + "Mucho"
    = f.radio_button(:smoking,24) + "Poco"
  %p
    Vacunas:
    = f.label "Toxina tetanica 1a. "
    = f.check_box :toxina_tetanica_1
    = f.label "2a."
    = f.check_box :toxina_tetanica_2 
    = f.label "Influenza H1N1"
    = f.check_box :influenza_h1n1
    = f.label "influenza estacional"
    = f.check_box :influenza_estacional
  %br
    %h1.questionary_title ANTECEDENTES PERSONALES PATOLOGICOS
    %hr
  %br
  %p
    .clinical_form
      %table
        %tr.odd
          %th 
          %th SI
          %th 
          %th SI
          %th 
          %th SI
          %th 
          %th SI
        %tr.even
          %td HIPERTENSION
          %td.numeric
            = f.check_box :hipertension
          %td ENFERMEDAD HEPATICA
          %td.numeric
            = f.check_box :enfermedad_hepatica
          %td INFECCIOSOS
          %td.numeric
            = f.check_box :infecciosos
          %td COMPLICACIONES ANESTESICAS
          %td.numeric
            = f.check_box :complicaciones_anestesicas
        %tr.odd
          %td CARDIOPATIA
          %td.numeric
            = f.check_box :cardiopatia
          %td VARICES-FLEBITIS
          %td.numeric
            = f.check_box  :varices_flebitis
          %td NEUMOPATIAS-ASMA
          %td.numeric
            = f.check_box :neumopatias_asma
          %td INMUNIZACIONES
          %td.numeric
            = f.check_box  :inmunizaciones
        %tr.even
          %td HIPIRLIPIDEMIA
          %td.numeric
            = f.check_box :hiperlipidemia
          %td FUNCION TIROIDEA
          %td.numeric
            = f.check_box :funcion_tiroidea
          %td ALERGIAS
          %td.numeric
            = f.check_box :alergias
          %td ANOMALIAS UTERINAS
          %td.numeric
            = f.check_box  :anomalias_uterinas
        %tr.odd
          %td ENFERMEDAD RENAL
          %td.numeric
            = f.check_box :enfermedad_renal
          %td TRAUMATISMO
          %td.numeric
            = f.check_box :traumatismo
          %td MAMAS
          %td.numeric
            = f.check_box :mamas
          %td INFERTILIDAD
          %td.numeric
            = f.check_box :infertilidad
        %tr.even
          %td NEUROLOGICAS EPILEPSIA
          %td.numeric
            = f.check_box :neurologicas_epilepsia
          %td DIABETES
          %td.numeric
            = f.check_box :diabetes
          %td CIRUGIA GENECOLOGICA
          %td.numeric
            = f.check_box :cirugia_genecologica
          %td TRANSPLANTES
          %td.numeric
            = f.check_box :transplantes
        %tr.odd
          %td PSIQUIATRICAS-DEPRESION
          %td.numeric
            = f.check_box :psiquiatricas_depresion
          %td CANCER
          %td.numeric
            = f.check_box :cancer
          %td CIRUGIAS GENERALES
          %td.numeric
            = f.check_box :cirugias_generales
          %td GENETICOS
          %td.numeric
            = f.check_box :geneticos
  %br
    %h1.questionary_title ANTECEDENTES GINECO-OBSTETRICOS
    %hr
  %br
  %p
    = f.label "MENARQUIA: "
    = f.text_field :menarquia, :size => 5
    = f.label "PATRON MENSTRUAL: "
    = f.text_field :patron_menstrual, :size => 5
    = f.label "FUM: "
    = f.date_select :fum, :size => 5
    = f.label "IVSA: "
    = f.check_box :ivsa
    = f.label "PAPANICOLAU: "
    = f.check_box :papanicolau
  %p
    = f.label "METODO: "
    = f.text_field :papanicolau_method, :size => 5
    = f.label "GESTA: "
    = f.text_field :gesta, :size => 5
    = f.label "PARTOS: "
    = f.text_field :partos, :size => 5
    = f.label "CESAREAS: "
    = f.text_field :cesareas, :size => 5
    = f.label "ABORTOS: "
    = f.text_field :abortos, :size => 5
    = f.label "ECTOPICOS: "
    = f.text_field :ectopicos, :size => 5
  %p
    = f.label "MOLAS: "
    = f.text_field :molas, :size => 5
  %p
    %table
      %tr.odd
        %th{:width => "100px"} AÑO
        %th{:width => "300px"} TIPO EMBARAZO
        %th{:width => "300px"} RESOLUCION
  %p
    %table
      - f.fields_for :past_pregnants do |builder|
        = render 'past_pregnantfields', :f => builder
      = link_to_add_fields "Ingresar datos de otro embarazo pasado", f, :past_pregnants
  %br
    %h1.questionary_title DATOS DEL EMBARAZO
    %hr
  %br
  %p
    = f.label "FECHA PROBABLE DE PARTO: "
    = f.date_select :fecha_probable_parto  
    = f.label "ALTURA DEL FONDO UTERINO: "
    = f.text_field :altura_fondo_uterino, :size => 5
    CMS
  %p
    = f.label "NUMERO DE FETOS"
    = f.text_field :num_fetos, :size => 5  
    = f.label "FCF"
    = f.text_field :fcf, :size => 5
    = f.label "RITMICO"
    = f.check_box :ritmico  
    = f.label "NO AUDIBLE"
    = f.check_box :no_audible   
  %p
    = f.label "GRUPO Y RH"
    = f.text_field :grupo_rh
    = f.label "EN CASO DE SER NEGATIVO SE APLICO GAMMAGLOBULINA EN EMBARAZO PREVIO, SI(seleccionado) No(no seleccionar)"
    = f.check_box :gammaglobulina
  %p
    = f.label "ANTECEDENTES DE HIDROPSFETA: (palomea en caso de ser afirmativo, deja en blanco en caso negativo)"
    = f.check_box :hidrops_feta
  
  %p
    = f.label "TIENE ANTICUERPOS IRREGULARES: "
    = f.check_box :anticuerpos_irregulares
    = f.label "PESO ANTES DEL EMBARAZO: "
    = f.text_field :peso_anterior, :size => 5
    Kg.
  %p
    = f.label "COMENTARIOS: "
    = f.text_area :comentarios
  %br
    %h1.questionary_title INTERROGATORIO POR APARATOS Y SISTEMAS
    %hr
  %br
  %p
    .clinical_form
      %table
        %tr.odd
          %th SISTEMA
          %th SDP
          %th COMENTARIO
        %tr.even
          %td OJOS
          %td.numeric
            = f.check_box :inte_ojos
          %td
            = f.text_field :inte_ojos_desc
          %td.numeric
        %tr.odd
          %td OIDOS
          %td.numeric
            = f.check_box :inte_oidos
          %td
            = f.text_field :inte_oidos_desc            
        %tr.even
          %td NARIZ
          %td.numeric
            = f.check_box :inte_nariz
          %td
            = f.text_field :inte_nariz_desc
        %tr.odd
          %td GARGANTA
          %td.numeric
            = f.check_box :inte_garganta
          %td
            = f.text_field :inte_garganta_desc
        %tr.even
          %td DIGESTIVO
          %td.numeric
            = f.check_box :inte_digestivo
          %td
            = f.text_field :inte_digestivo_desc
        %tr.odd
          %td CARDIOCIRCULATORIO
          %td.numeric
            = f.check_box :inte_cardiocirculatorio
          %td
            = f.text_field :inte_cardiocirculatorio_desc
        %tr.even
          %td MUSCULOESQUELETICO
          %td.numeric
            = f.check_box :inte_musculoesqueletico
          %td
            = f.text_field :inte_musculoesqueletico_desc
        %tr.odd
          %td PIEL Y TEGUMENTOS
          %td.numeric
            = f.check_box :inte_piel_y_tegumentos
          %td
            = f.text_field :inte_piel_y_tegumentos_desc
        %tr.even
          %td PULMONAR
          %td.numeric
            = f.check_box :inte_pulmonar
          %td
            = f.text_field :inte_pulmonar_desc
        %tr.odd
          %td NEUROGOLICO
          %td.numeric
            = f.check_box :inte_neurologico
          %td
            = f.text_field :inte_neurologico_desc
        %tr.even
          %td PSICOLOGICO
          %td.numeric
            = f.check_box :inte_psicologico
          %td
            = f.text_field :inte_psicologico_desc
        %tr.odd
          %td MAMAS
          %td.numeric
            = f.check_box :inte_mamas
          %td
            = f.text_field :inte_mamas_desc

  %br
    %h1.questionary_title EXPLORACION FISICA
    %hr
  %br
  %p
    = f.label "Presion Arterial Diastolica: "
    = f.text_field :diastolica, :size => 5
    = f.label "Presion Arterial Sistolica: "
    = f.text_field :sistolica, :size => 5
  %p
    = f.label :temperatura 
    = f.text_field :temperatura 
  
  %p
    = f.label :peso 
    = f.text_field :peso 
  
  %p
    = f.label :talla 
    = f.text_field :talla 
  
  %p
    = f.label :masa_corporal 
    = f.text_field :masa_corporal 
  
  %p
    = f.label :cervix 
    = f.text_field :cervix 
  
  %p
    = f.label :fluidos 
    = f.check_box :fluidos 
  
  %p
    = f.label :sangrado 
    = f.check_box :sangrado 
  
  %p
    = f.label :dilatacion 
    = f.check_box :dilatacion 
  
  %p
    = f.label :borramientos 
    = f.check_box :borramientos 
  
  %p
    = f.label :reblandecimientos 
    = f.check_box :reblandecimientos
  %p
    .clinical_form
      %table
        %tr.odd
          %th AREA
          %th SDP
          %th COMENTARIO
        %tr.even
          %td CABEZA-CUELLO-TIROIDES
          %td.numeric
            = f.check_box :cabeza_cuello_tiroides
          %td
            = f.text_field :cabeza_cuello_tiroides_desc
          %td.numeric
        %tr.odd
          %td CARDIORESPIRATORIO
          %td.numeric
            = f.check_box :cardiorespiratorio_desc
          %td
            = f.text_field :cardiorespiratorio_desc
        %tr.even
          %td MAMAS
          %td.numeric
            = f.check_box :explora_mamas
          %td
            = f.text_field :explora_mamas_desc
        %tr.odd
          %td ABDOMEN
          %td.numeric
            = f.check_box :abdomen
          %td
            = f.text_field :abdomen_desc
        %tr.even
          %td EXTREMIDADES
          %td.numeric
            = f.check_box :extremidades
          %td
            = f.text_field :extremidades_desc
        %tr.odd
          %td GENITALES
          %td.numeric
            = f.check_box :genitales
          %td
            = f.text_field :genitales_desc
  %br
    %h1.questionary_title IMPRESION DIAGNOSTICA
    %hr
  %br
  %p
    = f.text_area :impresion_diagnostica
  %br
    %h1.questionary_title TRATAMIENTO
    %hr
  %br
  %p
    = f.label "INICIO DE ACIDO FOLICO"
    = f.text_field :inicio_acido_folico 
    SDG,
    = f.label "INICIO DE MULTIVITAMINAS"
    = f.text_field :inicio_multivitaminas
    SDG,
    = f.label "INICIO DE SUPLEMENTOS"
    = f.text_field :inicio_suplementos
    SDG,
    = f.label "INICIO DE HIERRO"
    = f.text_field :inicio_hierro 
    SDG,
    = f.label "INICIO DE ASPIRINAS"
    = f.text_field :inicio_aspirina
    SDG,
  %p
    = f.hidden_field :patient_id, :value => @clinical_history.patient_id
  %p
    = f.label :user_id 
    = f.text_field :user_id 
  
  %p
    = f.label :dependency_id 
    = f.text_field :dependency_id 
  %hr
  %p
  .guardar
    = f.submit 'Guardar'
  .creating{:style => "display:none;"}Guardando, porfavor espere
