%p
  = link_to_remote "Regresar", :update => "workspace", :url => { :controller => "patients", :action => "show", :id => "#{@clinical_history.patient_id}"}, :method => :get, :layout => false

Familiar responsable:
= h @clinical_history.responsible_family 
Parentesco:
= h @clinical_history.relationship
%br
  %h1.questionary_title ANTECEDENTES HEREDOFAMILIARES
  %hr
%br
.clinical_form
  %table
    %tr.odd
      %th PADECIMIENTO
      %th MADRE
      %th PADRE
      %th HIJOS
      %th HERMANOS
      %th ESPOSO
      %th OTROS
    %tr.even
      %td CARDIOVASCULARES
      %td.numeric 
        = h checked_value(@clinical_history.cardiovascular_mother)
      %td.numeric
        = h checked_value(@clinical_history.cardiovascular_father)
      %td.numeric
        = h checked_value(@clinical_history.cardiovascular_children)
      %td.numeric
        = h checked_value(@clinical_history.cardiovascular_brothers)
      %td.numeric
        = h checked_value(@clinical_history.cardiovascular_husband)
      %td.numeric
        = h checked_value(@clinical_history.cardiovascular_others)
    %tr.odd
      %td DIABETES MELLITUS
      %td.numeric
        =  checked_value(@clinical_history.diabetes_mother)
      %td.numeric
        =  checked_value(@clinical_history.diabetes_father)
      %td.numeric
        =  checked_value(@clinical_history.diabetes_children)
      %td.numeric
        =  checked_value(@clinical_history.diabetes_brothers)
      %td.numeric
        =  checked_value(@clinical_history.diabetes_husband)
      %td.numeric
        = checked_value(@clinical_history.diabetes_others)
    %tr.even
      %td NEOPLASICOS
      %td.numeric
        =  checked_value(@clinical_history.neoplastic_mother)
      %td.numeric
        =  checked_value(@clinical_history.neoplastic_father)
      %td.numeric
        =  checked_value(@clinical_history.neoplastic_children)
      %td.numeric
        =  checked_value(@clinical_history.neoplastic_brothers)
      %td.numeric
        =  checked_value(@clinical_history.neoplastic_husband)
      %td.numeric
        = checked_value(@clinical_history.neoplastic_others)
    %tr.odd
      %td INFECCIOSOS
      %td.numeric
        = checked_value(@clinical_history.infectious_mother)
      %td.numeric
        = checked_value(@clinical_history.infectious_father)
      %td.numeric
        = checked_value(@clinical_history.infectious_children)
      %td.numeric
        = checked_value(@clinical_history.infectious_brothers)
      %td.numeric
        = checked_value(@clinical_history.infectious_husband)
      %td.numeric
        = checked_value(@clinical_history.infectious_others)
    %tr.even
      %td TOXICOMANIAS
      %td.numeric
        = checked_value(@clinical_history.toxicomanias_mother)
      %td.numeric
        = checked_value(@clinical_history.toxicomanias_father)
      %td.numeric
        = checked_value(@clinical_history.toxicomanias_children)
      %td.numeric
        = checked_value(@clinical_history.toxicomanias_brothers)
      %td.numeric
        = checked_value(@clinical_history.toxicomanias_husband)
      %td.numeric
        = checked_value(@clinical_history.toxicomanias_others)
    %tr.odd
      %td SX DOWN/MALFORMADOS
      %td.numeric
        = checked_value(@clinical_history.malformed_mother)
      %td.numeric
        = checked_value(@clinical_history.malformed_father)
      %td.numeric
        = checked_value(@clinical_history.malformed_children)
      %td.numeric
        = checked_value(@clinical_history.malformed_brothers)
      %td.numeric
        = checked_value(@clinical_history.malformed_husband)
      %td.numeric  
        = checked_value(@clinical_history.malformed_others)
%br
  %h1.questionary_title ANTECEDENTES PERSONALES NO PATOLOGICOS
  %hr
%br
%p
  %b
    Alimentación: 
  = get_value(@clinical_history.feed)
%p
  %b
    Vitaminas:
  = h get_boolean(@clinical_history.vitamins)
  %b
    Hierro:
  = h get_boolean(@clinical_history.iron)
  %b
    Ácido folico: 
  = h get_boolean(@clinical_history.folic_acid)
  %b
    Cafeina: 
  = h get_boolean(@clinical_history.caffeine)
  %b
    Drogas: 
  = h get_boolean(@clinical_history.drugs)
  %b
    Medicamentos: 
  = h get_boolean(@clinical_history.medicaments)
  %br
  %b  
    Mecione Cuales: 
  = h @clinical_history.medicaments_details
  %p
    %b
      Alcoholismo:
    = h get_value(@clinical_history.alcoholism)
    %br
    %b
      ¿Cuántas veces a la semana?:
    = h @clinical_history.alcoholism_times
  %p
    %b
      Tabaquísmo:
    = h get_value(@clinical_history.smoking)
    %b
      ¿Cuántos cigarrillos al dia?:
    = @clinical_history.cigarretes_day
    %br
      %b
        ¿Hay alguien que fuma en el hogar?
      = h get_boolean(@clinical_history.fuman_hogar)
  %p
    %b
      Vacunas:
    %br
      %b
        Toxina tetánica 1a.
    = h get_boolean(@clinical_history.toxina_tetanica_1)
    %b
      2a.
    = h get_boolean(@clinical_history.toxina_tetanica_2)
    %b
      Influenza H1N1
    = h get_boolean(@clinical_history.influenza_h1n1)
    %b
      Influenza estacional
    = h get_boolean(@clinical_history.influenza_estacional)
    %b
      Grupo sanguineo
    = h @clinical_history.grupo_sanguineo + @clinical_history.rh
    %b
      ¿Tiene anticuerpos irregulares?
    = h get_boolean(@clinical_history.anticuerpos_irregulares)  
  %br
    %h1.questionary_title ANTECEDENTES PERSONALES PATOLOGICOS
    %hr
  %br
  %p
    .clinical_form
      %table
        %tr.odd
          %th 
          %th Sí
          %th 
          %th Sí
          %th 
          %th Sí
          %th
          %th Sí
        %tr.even
          %td Hipertensión
          %td.numeric
            = checked_value(@clinical_history.hipertension)
          %td Enfermedad hepática
          %td.numeric
            = checked_value(@clinical_history.enfermedad_hepatica)
          %td Infecciosos
          %td.numeric
            = checked_value(@clinical_history.infecciosos)
          %td Complicaciones anestésicas
          %td.numeric
            = checked_value(@clinical_history.complicaciones_anestesicas)
        %tr.odd
          %td Cardiopatía
          %td.numeric
            = checked_value(@clinical_history.cardiopatia)
          %td Varices-flebitis
          %td.numeric
            = checked_value(@clinical_history.varices_flebitis)
          %td Neumopatías-asma
          %td.numeric
            = checked_value(@clinical_history.neumopatias_asma)
          %td Inmunizaciones
          %td.numeric
            = checked_value(@clinical_history.inmunizaciones)
        %tr.even
          %td Hipirlipidemia
          %td.numeric
            = checked_value(@clinical_history.hiperlipidemia)
          %td Función tiroidea
          %td.numeric
            = checked_value(@clinical_history.funcion_tiroidea)
          %td Alergias
          %td.numeric
            = checked_value(@clinical_history.alergias)
          %td Anomalías uterinas
          %td.numeric
            = checked_value(@clinical_history.anomalias_uterinas)
        %tr.odd
          %td Enfermedad renal
          %td.numeric
            = checked_value(@clinical_history.enfermedad_renal)
          %td Traumatismo
          %td.numeric
            = checked_value(@clinical_history.traumatismo)
          %td Mamas
          %td.numeric
            = checked_value(@clinical_history.mamas)
          %td Infertilidad
          %td.numeric
            = checked_value(@clinical_history.infertilidad)
        %tr.even
          %td Neurológicas epilepsia
          %td.numeric
            = checked_value(@clinical_history.neurologicas_epilepsia)
          %td Diabetes
          %td.numeric
            = checked_value(@clinical_history.diabetes)
          %td Cirugía genecológica
          %td.numeric
            = checked_value(@clinical_history.cirugia_genecologica)
          %td Transplantes
          %td.numeric
            = checked_value(@clinical_history.transplantes)
        %tr.odd
          %td Psiquiátricas-depresión
          %td.numeric
            = checked_value(@clinical_history.psiquiatricas_depresion)
          %td Cáncer
          %td.numeric
            = checked_value(@clinical_history.cancer)
          %td Cirugías generales
          %td.numeric
            = checked_value(@clinical_history.cirugias_generales)
          %td Genéticos
          %td.numeric
            = checked_value(@clinical_history.geneticos)
  %br
    %h1.questionary_title ANTECEDENTES GINECO-OBSTETRICOS
    %hr
  %br
  %p
    %b
      Menarquia:
    = h @clinical_history.menarquia
    %b
      Patrón menstrual:
    = h @clinical_history.patron_menstrual
    %b
      FUM:
    = l @clinical_history.fum
    %b
      IVSA:
    = h @clinical_history.ivsa
