<p>
  <b>Responsible family:</b>
  <%=h @clinical_history.responsible_family %>
</p>

<p>
  <b>Relationship:</b>
  <%=h @clinical_history.relationship %>
</p>

<p>
  <b>Cardiovascular mother:</b>
  <%=h @clinical_history.cardiovascular_mother %>
</p>

<p>
  <b>Cardiovascular father:</b>
  <%=h @clinical_history.cardiovascular_father %>
</p>

<p>
  <b>Cardiovascular children:</b>
  <%=h @clinical_history.cardiovascular_children %>
</p>

<p>
  <b>Cardiovascular brothers:</b>
  <%=h @clinical_history.cardiovascular_brothers %>
</p>

<p>
  <b>Cardiovascular husband:</b>
  <%=h @clinical_history.cardiovascular_husband %>
</p>

<p>
  <b>Cardiovascular others:</b>
  <%=h @clinical_history.cardiovascular_others %>
</p>

<p>
  <b>Diabetes mother:</b>
  <%=h @clinical_history.diabetes_mother %>
</p>

<p>
  <b>Diabetes father:</b>
  <%=h @clinical_history.diabetes_father %>
</p>

<p>
  <b>Diabetes children:</b>
  <%=h @clinical_history.diabetes_children %>
</p>

<p>
  <b>Diabetes brothers:</b>
  <%=h @clinical_history.diabetes_brothers %>
</p>

<p>
  <b>Diabetes husband:</b>
  <%=h @clinical_history.diabetes_husband %>
</p>

<p>
  <b>Diabetes others:</b>
  <%=h @clinical_history.diabetes_others %>
</p>

<p>
  <b>Neoplastic mother:</b>
  <%=h @clinical_history.neoplastic_mother %>
</p>

<p>
  <b>Neoplastic father:</b>
  <%=h @clinical_history.neoplastic_father %>
</p>

<p>
  <b>Neoplastic children:</b>
  <%=h @clinical_history.neoplastic_children %>
</p>

<p>
  <b>Neoplastic brothers:</b>
  <%=h @clinical_history.neoplastic_brothers %>
</p>

<p>
  <b>Neoplastic husband:</b>
  <%=h @clinical_history.neoplastic_husband %>
</p>

<p>
  <b>Neoplastic others:</b>
  <%=h @clinical_history.neoplastic_others %>
</p>

<p>
  <b>Infectious mother:</b>
  <%=h @clinical_history.infectious_mother %>
</p>

<p>
  <b>Infectious father:</b>
  <%=h @clinical_history.infectious_father %>
</p>

<p>
  <b>Infectious children:</b>
  <%=h @clinical_history.infectious_children %>
</p>

<p>
  <b>Infectious brothers:</b>
  <%=h @clinical_history.infectious_brothers %>
</p>

<p>
  <b>Infectious husband:</b>
  <%=h @clinical_history.infectious_husband %>
</p>

<p>
  <b>Infectious others:</b>
  <%=h @clinical_history.infectious_others %>
</p>

<p>
  <b>Toxicomanias mother:</b>
  <%=h @clinical_history.toxicomanias_mother %>
</p>

<p>
  <b>Toxicomanias father:</b>
  <%=h @clinical_history.toxicomanias_father %>
</p>

<p>
  <b>Toxicomanias children:</b>
  <%=h @clinical_history.toxicomanias_children %>
</p>

<p>
  <b>Toxicomanias brothers:</b>
  <%=h @clinical_history.toxicomanias_brothers %>
</p>

<p>
  <b>Toxicomanias husband:</b>
  <%=h @clinical_history.toxicomanias_husband %>
</p>

<p>
  <b>Toxicomanias others:</b>
  <%=h @clinical_history.toxicomanias_others %>
</p>

<p>
  <b>Malformed mother:</b>
  <%=h @clinical_history.malformed_mother %>
</p>

<p>
  <b>Malformed father:</b>
  <%=h @clinical_history.malformed_father %>
</p>

<p>
  <b>Malformed children:</b>
  <%=h @clinical_history.malformed_children %>
</p>

<p>
  <b>Malformed brothers:</b>
  <%=h @clinical_history.malformed_brothers %>
</p>

<p>
  <b>Malformed husband:</b>
  <%=h @clinical_history.malformed_husband %>
</p>

<p>
  <b>Malformed others:</b>
  <%=h @clinical_history.malformed_others %>
</p>

<p>
  <b>Feed:</b>
  <%=h @clinical_history.feed %>
</p>

<p>
  <b>Vitamins:</b>
  <%=h @clinical_history.vitamins %>
</p>

<p>
  <b>Iron:</b>
  <%=h @clinical_history.iron %>
</p>

<p>
  <b>Folic acid:</b>
  <%=h @clinical_history.folic_acid %>
</p>

<p>
  <b>Caffeine:</b>
  <%=h @clinical_history.caffeine %>
</p>

<p>
  <b>Drugs:</b>
  <%=h @clinical_history.drugs %>
</p>

<p>
  <b>Medicaments:</b>
  <%=h @clinical_history.medicaments %>
</p>

<p>
  <b>Medicaments details:</b>
  <%=h @clinical_history.medicaments_details %>
</p>

<p>
  <b>Alcoholism:</b>
  <%=h @clinical_history.alcoholism %>
</p>

<p>
  <b>Smoking:</b>
  <%=h @clinical_history.smoking %>
</p>

<p>
  <b>Toxina tetanica 1:</b>
  <%=h @clinical_history.toxina_tetanica_1 %>
</p>

<p>
  <b>Toxina tetanica 2:</b>
  <%=h @clinical_history.toxina_tetanica_2 %>
</p>

<p>
  <b>Influenza h1n1:</b>
  <%=h @clinical_history.influenza_h1n1 %>
</p>

<p>
  <b>Influenza estacional:</b>
  <%=h @clinical_history.influenza_estacional %>
</p>

<p>
  <b>Hipertension:</b>
  <%=h @clinical_history.hipertension %>
</p>

<p>
  <b>Cardiopatia:</b>
  <%=h @clinical_history.cardiopatia %>
</p>

<p>
  <b>Hiperlipidemia:</b>
  <%=h @clinical_history.hiperlipidemia %>
</p>

<p>
  <b>Enfermedad renal:</b>
  <%=h @clinical_history.enfermedad_renal %>
</p>

<p>
  <b>Neurologicas epilepsia:</b>
  <%=h @clinical_history.neurologicas_epilepsia %>
</p>

<p>
  <b>Psiquiatricas depresion:</b>
  <%=h @clinical_history.psiquiatricas_depresion %>
</p>

<p>
  <b>Enfermedad hepatica:</b>
  <%=h @clinical_history.enfermedad_hepatica %>
</p>

<p>
  <b>Varices flebitis:</b>
  <%=h @clinical_history.varices_flebitis %>
</p>

<p>
  <b>Funcion tiroidea:</b>
  <%=h @clinical_history.funcion_tiroidea %>
</p>

<p>
  <b>Traumatismo:</b>
  <%=h @clinical_history.traumatismo %>
</p>

<p>
  <b>Diabetes:</b>
  <%=h @clinical_history.diabetes %>
</p>

<p>
  <b>Cancer:</b>
  <%=h @clinical_history.cancer %>
</p>

<p>
  <b>Infecciosos:</b>
  <%=h @clinical_history.infecciosos %>
</p>

<p>
  <b>Neumopatias asma:</b>
  <%=h @clinical_history.neumopatias_asma %>
</p>

<p>
  <b>Alergias:</b>
  <%=h @clinical_history.alergias %>
</p>

<p>
  <b>Mamas:</b>
  <%=h @clinical_history.mamas %>
</p>

<p>
  <b>Cirugia genecologica:</b>
  <%=h @clinical_history.cirugia_genecologica %>
</p>

<p>
  <b>Cirugias generales:</b>
  <%=h @clinical_history.cirugias_generales %>
</p>

<p>
  <b>Complicaciones anestesicas:</b>
  <%=h @clinical_history.complicaciones_anestesicas %>
</p>

<p>
  <b>Inmunizaciones:</b>
  <%=h @clinical_history.inmunizaciones %>
</p>

<p>
  <b>Anomalias uterinas:</b>
  <%=h @clinical_history.anomalias_uterinas %>
</p>

<p>
  <b>Infertilidad:</b>
  <%=h @clinical_history.infertilidad %>
</p>

<p>
  <b>Transplantes:</b>
  <%=h @clinical_history.transplantes %>
</p>

<p>
  <b>Geneticos:</b>
  <%=h @clinical_history.geneticos %>
</p>

<p>
  <b>Menarquia:</b>
  <%=h @clinical_history.menarquia %>
</p>

<p>
  <b>Patron menstrual:</b>
  <%=h @clinical_history.patron_menstrual %>
</p>

<p>
  <b>Fum:</b>
  <%=h @clinical_history.fum %>
</p>

<p>
  <b>Ivsa:</b>
  <%=h @clinical_history.ivsa %>
</p>

<p>
  <b>Papanicolau:</b>
  <%=h @clinical_history.papanicolau %>
</p>

<p>
  <b>Papanicolau method:</b>
  <%=h @clinical_history.papanicolau_method %>
</p>

<p>
  <b>Gesta:</b>
  <%=h @clinical_history.gesta %>
</p>

<p>
  <b>Partos:</b>
  <%=h @clinical_history.partos %>
</p>

<p>
  <b>Cesareas:</b>
  <%=h @clinical_history.cesareas %>
</p>

<p>
  <b>Abortos:</b>
  <%=h @clinical_history.abortos %>
</p>

<p>
  <b>Ectopicos:</b>
  <%=h @clinical_history.ectopicos %>
</p>

<p>
  <b>Molas:</b>
  <%=h @clinical_history.molas %>
</p>

<p>
  <b>Fecha probable parto:</b>
  <%=h @clinical_history.fecha_probable_parto %>
</p>

<p>
  <b>Altura fondo uterino:</b>
  <%=h @clinical_history.altura_fondo_uterino %>
</p>

<p>
  <b>Num fetos:</b>
  <%=h @clinical_history.num_fetos %>
</p>

<p>
  <b>Fcf:</b>
  <%=h @clinical_history.fcf %>
</p>

<p>
  <b>Ritmico:</b>
  <%=h @clinical_history.ritmico %>
</p>

<p>
  <b>No audible:</b>
  <%=h @clinical_history.no_audible %>
</p>

<p>
  <b>Grupo rh:</b>
  <%=h @clinical_history.grupo_rh %>
</p>

<p>
  <b>Gammaglobulina:</b>
  <%=h @clinical_history.gammaglobulina %>
</p>

<p>
  <b>Hidrops feta:</b>
  <%=h @clinical_history.hidrops_feta %>
</p>

<p>
  <b>Anticuerpos irregulares:</b>
  <%=h @clinical_history.anticuerpos_irregulares %>
</p>

<p>
  <b>Peso anterior:</b>
  <%=h @clinical_history.peso_anterior %>
</p>

<p>
  <b>Comentarios:</b>
  <%=h @clinical_history.comentarios %>
</p>

<p>
  <b>Diastolica:</b>
  <%=h @clinical_history.diastolica %>
</p>

<p>
  <b>Sistolica:</b>
  <%=h @clinical_history.sistolica %>
</p>

<p>
  <b>Temperatura:</b>
  <%=h @clinical_history.temperatura %>
</p>

<p>
  <b>Peso:</b>
  <%=h @clinical_history.peso %>
</p>

<p>
  <b>Talla:</b>
  <%=h @clinical_history.talla %>
</p>

<p>
  <b>Masa corporal:</b>
  <%=h @clinical_history.masa_corporal %>
</p>

<p>
  <b>Cervix:</b>
  <%=h @clinical_history.cervix %>
</p>

<p>
  <b>Fluidos:</b>
  <%=h @clinical_history.fluidos %>
</p>

<p>
  <b>Sangrado:</b>
  <%=h @clinical_history.sangrado %>
</p>

<p>
  <b>Dilatacion:</b>
  <%=h @clinical_history.dilatacion %>
</p>

<p>
  <b>Borramientos:</b>
  <%=h @clinical_history.borramientos %>
</p>

<p>
  <b>Reblandecimientos:</b>
  <%=h @clinical_history.reblandecimientos %>
</p>

<p>
  <b>Inicio acido folico:</b>
  <%=h @clinical_history.inicio_acido_folico %>
</p>

<p>
  <b>Inicio multivitaminas:</b>
  <%=h @clinical_history.inicio_multivitaminas %>
</p>

<p>
  <b>Inicio suplementos:</b>
  <%=h @clinical_history.inicio_suplementos %>
</p>

<p>
  <b>Inicio hierro:</b>
  <%=h @clinical_history.inicio_hierro %>
</p>

<p>
  <b>Inicio aspirina:</b>
  <%=h @clinical_history.inicio_aspirina %>
</p>

<p>
  <b>Patient:</b>
  <%=h @clinical_history.patient_id %>
</p>

<p>
  <b>User:</b>
  <%=h @clinical_history.user_id %>
</p>

<p>
  <b>Dependency:</b>
  <%=h @clinical_history.dependency_id %>
</p>


<%= link_to 'Edit', edit_clinical_history_path(@clinical_history) %> |
<%= link_to 'Back', clinical_histories_path %>