<h1>Listing first_times</h1>

<table>
  <tr>
    <th>Sistolica</th>
    <th>Diastolica</th>
    <th>Peso</th>
    <th>Temp</th>
    <th>Fc</th>
    <th>Fr</th>
    <th>Fcf</th>
    <th>Mov fetales</th>
    <th>Gestados</th>
    <th>Partos</th>
    <th>Cesareas</th>
    <th>Abortos</th>
    <th>Semanas gestacion</th>
    <th>Fum</th>
    <th>Edad gestacional ugs</th>
    <th>Otros diagnosticos</th>
    <th>Quirurgicos</th>
    <th>Transfusionales</th>
    <th>Alergicos</th>
    <th>Internamientos</th>
    <th>Inmunizaciones tt</th>
    <th>Inmunizaciones td</th>
    <th>Inmunizaciones influenza</th>
    <th>Inmunizaciones hepatitisb</th>
    <th>Cefalea</th>
    <th>Acufenos</th>
    <th>Fosfenos</th>
    <th>Nauseas</th>
    <th>Vomito</th>
    <th>Epigastralgia</th>
    <th>Edema</th>
    <th>Percepcion mov fetales</th>
    <th>Actividad uterina</th>
    <th>Fiebre</th>
    <th>Dolor lumbar</th>
    <th>Perdidas trasvaginales leucorrea</th>
    <th>Perdidas trasvaginales liquido</th>
    <th>Perdidas trasvaginales sangre</th>
    <th>Sintomato urinaria disuria</th>
    <th>Sintomato urinaria tenesmo vesical</th>
    <th>Sintomato urinaria poliuria</th>
    <th>Pezon</th>
    <th>Fondo uterino</th>
    <th>Tacto vaginal longitud</th>
    <th>Tacto dilatacion</th>
    <th>Giordano</th>
    <th>Edema bimaleolar</th>
    <th>Reflejos</th>
    <th>Resultados laboratorio</th>
    <th>Analisis</th>
    <th>Metodo planificacion</th>
    <th>Metodo planificacion pendiente</th>
    <th>Tratamiento</th>
    <th>Datos alarma</th>
    <th>Referenciado a</th>
    <th>Cita sig consulta</th>
    <th>Pronostico</th>
    <th>User</th>
    <th>Dependency</th>
    <th>Patient</th>
  </tr>

<% @first_times.each do |first_time| %>
  <tr>
    <td><%=h first_time.sistolica %></td>
    <td><%=h first_time.diastolica %></td>
    <td><%=h first_time.peso %></td>
    <td><%=h first_time.temp %></td>
    <td><%=h first_time.fc %></td>
    <td><%=h first_time.fr %></td>
    <td><%=h first_time.fcf %></td>
    <td><%=h first_time.mov_fetales %></td>
    <td><%=h first_time.gestados %></td>
    <td><%=h first_time.partos %></td>
    <td><%=h first_time.cesareas %></td>
    <td><%=h first_time.abortos %></td>
    <td><%=h first_time.semanas_gestacion %></td>
    <td><%=h first_time.fum %></td>
    <td><%=h first_time.edad_gestacional_ugs %></td>
    <td><%=h first_time.otros_diagnosticos %></td>
    <td><%=h first_time.quirurgicos %></td>
    <td><%=h first_time.transfusionales %></td>
    <td><%=h first_time.alergicos %></td>
    <td><%=h first_time.internamientos %></td>
    <td><%=h first_time.inmunizaciones_tt %></td>
    <td><%=h first_time.inmunizaciones_td %></td>
    <td><%=h first_time.inmunizaciones_influenza %></td>
    <td><%=h first_time.inmunizaciones_hepatitisb %></td>
    <td><%=h first_time.cefalea %></td>
    <td><%=h first_time.acufenos %></td>
    <td><%=h first_time.fosfenos %></td>
    <td><%=h first_time.nauseas %></td>
    <td><%=h first_time.vomito %></td>
    <td><%=h first_time.epigastralgia %></td>
    <td><%=h first_time.edema %></td>
    <td><%=h first_time.percepcion_mov_fetales %></td>
    <td><%=h first_time.actividad_uterina %></td>
    <td><%=h first_time.fiebre %></td>
    <td><%=h first_time.dolor_lumbar %></td>
    <td><%=h first_time.perdidas_trasvaginales_leucorrea %></td>
    <td><%=h first_time.perdidas_trasvaginales_liquido %></td>
    <td><%=h first_time.perdidas_trasvaginales_sangre %></td>
    <td><%=h first_time.sintomato_urinaria_disuria %></td>
    <td><%=h first_time.sintomato_urinaria_tenesmo_vesical %></td>
    <td><%=h first_time.sintomato_urinaria_poliuria %></td>
    <td><%=h first_time.pezon %></td>
    <td><%=h first_time.fondo_uterino %></td>
    <td><%=h first_time.tacto_vaginal_longitud %></td>
    <td><%=h first_time.tacto_dilatacion %></td>
    <td><%=h first_time.giordano %></td>
    <td><%=h first_time.edema_bimaleolar %></td>
    <td><%=h first_time.reflejos %></td>
    <td><%=h first_time.resultados_laboratorio %></td>
    <td><%=h first_time.analisis %></td>
    <td><%=h first_time.metodo_planificacion %></td>
    <td><%=h first_time.metodo_planificacion_pendiente %></td>
    <td><%=h first_time.tratamiento %></td>
    <td><%=h first_time.datos_alarma %></td>
    <td><%=h first_time.referenciado_a %></td>
    <td><%=h first_time.cita_sig_consulta %></td>
    <td><%=h first_time.pronostico %></td>
    <td><%=h first_time.user %></td>
    <td><%=h first_time.dependency %></td>
    <td><%=h first_time.patient %></td>
    <td><%= link_to 'Show', first_time %></td>
    <td><%= link_to 'Edit', edit_first_time_path(first_time) %></td>
    <td><%= link_to 'Destroy', first_time, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New first_time', new_first_time_path %>