      <h1 class="title">Inicia sesión</h1>
       <p style="color: green"><%= flash[:notice] %></p>
       <% form_for @user_session, :url => user_session_path do |f| %>
        <%= f.error_messages %>
        <p><label for="login">Usuario</label><br/>
          <%= f.text_field  :login %></p>
	
        <p><label for="password">Password</label><br/>
          <%= f.password_field :password %></p>
		
	<p><%= f.submit 'Accesar' %></p>
	<% end %>





