!!!
%html
  %head
    %meta{'http-equiv' => "content-type", :content => "text/html;charset=UTF-8"} 
    %title Servicios de Salud Publica
    = stylesheet_link_tag 'compiled/screen.css', :media => 'screen, projection'
    = stylesheet_link_tag 'compiled/print.css', :media => 'print'
    /[if IE]
      = stylesheet_link_tag 'compiled/ie.css', :media => 'screen, projection'
    = stylesheet_link_tag 'compiled/application.css', :media => 'screen'
    = stylesheet_link_tag 'scaffold'
    = javascript_include_tag :defaults
  #container
    #header
      %h1 Servicios de Salud Pública - DF
    #sidebar
      Sidebar
    #content
      %body
        %p{:style => "color: green"}
          = notice
        = yield
    #footer
      %h1 footer
